<head>
  <meta charset="UTF-8">
  <meta name=”robots” content=”noindex,nofollow”>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="{{ page.excerpt | strip_html }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicons/favicon.svg">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#0078AA" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#B9FFF8" />
</head>
