// Body resets
//
// Update the foundational and global aspects of the page.

@font-face {
  font-family: "BodyLight";
  src: url("/assets/fonts/Body-Light.woff") format("woff"),
}

@font-face {
  font-family: "TitleRegular";
  src: url("/assets/fonts/Title-Regular.woff2") format("woff2"),
}

:root {
  --root-font-size: 16px;
  --root-line-height: 1.5;
  --background-color: #f7f7f7;
  --text-color: #000;
  --text-secondary: #767676;
  --text-disabled: #ccc;
  --theme-color: #594b3b;
  --link-color: #594b3b;
  --code-color: #bf616a;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'BodyLight', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: var(--root-font-size);
  line-height: var(--root-line-height);

  @media (min-width:  38em) {
    font-size: 20px;
  }
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
