// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin: 2rem 0 3rem;
  border-top: 0.5px solid $brown;
  border-bottom: 0.5px solid $brown;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: 'TitleRegular';
  font-weight: 400;

  a {
    color: inherit;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
