<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="content--homepage">
        नाहं जाणामि कंपि देवं न दईवं, णत्थि इसरो णियन्ता। <br />
        णत्थि सग्गभूमि ण णिरयं। <br />
        णो जगकत्ता णो विकत्ताय ण य जगईसरो कोवि। <br />
        ण रक्खओ ण भक्खओ। <br />
        ण य कालाईओ आदित्ठो दन्दनाईओ। <br />
        कम्मुणो चेव दण्डं। <br />
        हं सयमेव सट्ठा भोत्ता य मे सुहदुह – पियाप्पिअसंजोगाण। <br />
        अप्पसरियो जीवो सव्वाण सुहुमतिसुहुमेसु। <br />
        नत्थु कोवि कयापि दुहिओ मया। <br />
        सया मे इइ संवेअणा। <br />
        सच्चस्स मग्गा बहवे, सच्चो य एगरुबो णवरं। <br />
        समया मे मणो दुव्विहअवस्थासु। <br />
        मम पत्थणा -निज्जरउ अन्नाणकंमं। <br />
        शुद्धसासयरुवो हं इइ अत्थु मे सद्दंसणंअन्ते- ण य भवउ चवियं
        मे पयं मोक्खमग्गओ। <br />
      </div>
    </div>
  </body>
</html>
